body{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("background.png");
    height: 100lvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    background-color: #2b2d31;
    color: #dbdbdb;
    padding: 15px;
    width: 500px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-size: cover;
    display: inline-block;
}

li {
}

h3{

}

h5{
    font-style: italic;
}

a{
    color: #dbdbdb;
}

.everything{
    background-color: #36393e;
    color: #dbdbdb;
    padding: 15px;
    width: 600px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    background-size: cover;
    display: inline-block;
}

hr{
    background-color: #1b1b1b;
    border: none;
    height: 2px;
}